@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Zen+Tokyo+Zoo&display=swap");

.center-section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(rgba(8, 6, 32, 0), rgba(8, 6, 32, 0)),
		url(../images/silk-background.jpg) center/cover no-repeat fixed;
}

.container {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.left {
	width: 50%;
	height: 700px;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url(../images/hand.jpg) center/cover no-repeat;
}

.right {
	width: 85%;
	min-height: 500px;
	background-color: #0e2646;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	border-radius: 10px;
	color: white;
	font-family: "Poppins", sans-serif;
	margin-left: -80px;
}

.right h1 {
	font-size: 40px;
	font-weight: lighter;
}

.right p {
	margin: 20px 0;
	font-weight: 500;
	line-height: 25px;
	font-size: larger;
}

.right a {
	color: white;
}

.left-1 {
	width: 100%;
	min-height: 500px;
	background-color: #0e2646;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	border-radius: 10px;
	color: white;
	font-family: "Poppins", sans-serif;
	margin-right: -80px;
	z-index: 1;
}

.right-1 {
	width: 50%;
	height: 700px;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url(../images/man-mask.jpg) center/cover no-repeat;
}

.left-1 h1 {
	font-size: 40px;
	font-weight: lighter;
}

.left-1 p {
	margin: 20px 0;
	font-weight: 500;
	line-height: 25px;
	font-size: larger;
}

.left-1 a {
	color: white;
}
